.container
  %h1= "Hi #{@reader.email}!"

  %p These are all the readers:
  %ol
    - for r in @readers
      %li= r.email

  %p The articles:
  %ol
    - for a in @articles
      %li
        = "#{a.title}"
        %span.italic= "by #{a.author}"
        - if a.curators.empty?
          %p.italic No curators :(
        - else
          %p Curated by 
          - for c in a.curators
            %span.bold= "#{c.email}, "

  %a{href: "/logout"}
    %button Log out